{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{ result.name }}
{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
  <link rel="stylesheet" href="/assets/css/RecipeList.css">
  <link rel="stylesheet" href="/assets/css/RecipeDetail.css">
  <style>
    /*グリッドラインを出す*/
    /* div {
  border: solid 1px;
} */

    h2 {
      position: relative;
      background: #faab00;
      box-shadow: 0 0 0 5px #faab00;
      border: dashed 2px white;
      padding: 0.2em 0.5em;
      color: #454545;
    }

    h5 {
      color: #505050;
      /*文字色*/
      padding: 0.5em;
      /*文字周りの余白*/
      display: inline-block;
      /*おまじない*/
      line-height: 1.3;
      /*行高*/
      background: #fada96;
      /*背景色*/
      vertical-align: middle;
      border-radius: 25px 0 0 25px;
      /*左側の角を丸く*/
      width: 300px;
    }

    h5:before {
      content: '●';
      color: white;
      margin-right: 8px;
    }

    p {
      font-size: 20px;
      font-style: bold;
    }

    .btn {
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 0.25em 0.5em;
      text-decoration: none;
      color: #FFF;
      background: #faab00;
      transition: 0.4s;
    }

    .btn:hover {
      background: #1ec7bb;
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }
  </style>
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
  <div class="container">
    <br>
    <div class="page-header text-center">
      <h2>{{ result.name }}</h2>
    </div>
    <div class="box">
      <hr>
      <div class="row">
        <h3 class="center">{{ result.name }}は今{{ result.num }}個あります。</h3>
      </div>
      <hr>

        <label for="number" class="control-label">
          <h5>合計何個になりましたか？</h5>
        </label>
        <form id="loginForm" method="POST" action="/refrigerator/buy_done">
          <div class="form-group">
            <input type="number" class="form-control" id="num" name="num" value="{{ num }}" required="required" title="Please enter you email" placeholder="足した個数を入れてください">
            <input type="hidden" name="id" value="{{ result.id }}">
          </div>


      <div class="right">
        <button type="submit" class="btn">登録する！</button>
      </div>
      </form>
    </div>
  </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
