{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}Refrigist(仮){% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<style>
/*グリッドラインを出す*/
/* div {
  border: solid 1px;
} */
p{
  display: inline-block;
  padding: 0.5em 1em;
  border-bottom: solid 4px #c1e4e9;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  width: 160px;
  color: #333333;
}
.row{
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  padding: 5px;              /*ボックス内の幅を調整する【padding】*/
  margin: 5px auto;          /* ボックスの外側に幅を持たせ、真ん中に寄せる【margin】*/
}
</style>
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
    </div>

      <div class="container">
        <div class="container">
          <div class="box">
            
            {% for row in result %}

              <div class="row">
                <div class="col-xs-2">
                  <a href="/recipe/list/{{ row.id }}">
                    <img src="{{ row.image_url }}" width=120 alt="レシピ1">
                  </a>
                </div>
                <div class="col">
                  <a href="/recipe/list/{{ row.id }}">
                    <p>{{ row.sub_name }}<br>{{ row.name }}</p>
                  </a>
                </div>
              </div>

            {% endfor %}

          </div>
        </div>
      </div>

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
